<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 p-4">
    <h1 class="text-3xl font-bold mb-4">URL Shortener</h1>
    <% if(locals.id) { %>
    <div class="max-w-md">
        <label for="shortenedURL" class="font-semibold">Your shortened URL</label>
        <input type="text" id="shortenedURL" value="http://localhost:8001/url/<%= locals.id %>"
            class="border rounded-md py-2 px-3 focus:outline-none focus:border-blue-500 w-full" readonly>
    </div>
    <% } else { %>
    <div class="max-w-md">
        <form class="flex flex-col space-y-4" method="POST" action="/url">
            <label for="originalURL" class="font-semibold">Enter your original URL</label>
            <input type="text" name="url" id="originalURL" placeholder="https://www.example.com"
                class="border rounded-md py-2 px-3 focus:outline-none focus:border-blue-500">
            <button type="submit"
                class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300 ease-in-out">Shorten</button>
        </form>
    </div>
    <% } %>
    <div class="mt-8">
        <% if(locals.urls && locals.urls.length) { %>
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2">S. No</th>
                    <th class="px-4 py-2">Short ID</th>
                    <th class="px-4 py-2">Short URL</th>
                    <th class="px-4 py-2">Redirect</th>
                    <th class="px-4 py-2">Clicks</th>
                </tr>
            </thead>
            <tbody>
                <% locals.urls.forEach((url, index) => { %>
                <tr>
                    <td class="border px-4 py-2"><%= index + 1 %></td>
                    <td class="border px-4 py-2"><%= url.shortId %></td>
                    <td class="border px-4 py-2"><a href="http://localhost:8001/url/<%= url.shortId %>" target="_blank" class="text-blue-500 underline">http://localhost:8001/url/<%= url.shortId %></a></td>
                    <td class="border px-4 py-2"><a href="<%= url.redirectURL %>" target="_blank" class="text-blue-500 underline"><%= url.redirectURL %></a></td>
                    <td class="border px-4 py-2"><%= url.visitHistory.length %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <% } %>
    </div>
</body>

</html>
